/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.pretty-face {
  margin-bottom: 1rem;
  background: linear-gradient(180deg, #4893a5 15%, #2c4353 85%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.space {
  font-family: 'Space Mono', monospace;
}
.large {
  font-size:4.0rem;
}
.medium {
  font-size:3.0rem;
}
.small {
  font-size:2.0rem;
}
.tiny {
  font-size:1.5rem;
}
.links {
  font-size:1.5rem;
}

/*noinspection CssReplaceWithShorthandSafely*/
a {
  background:
  linear-gradient(
    to right,
    rgba(72,147,165),
    rgba(72,147,165)
  ),
  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  text-decoration: none;
}
a:link {
  color: rgba(113, 177, 193, 0.65);
}
a:visited {
  color: rgba(113, 177, 193, 0.65);
}
a:active {
  color: rgba(113, 177, 193, 0.65);
}
a:hover {
  background-size: 0 3px, 100% 3px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
}

.content {
  display: flex;
  flex-direction: row;
  column-gap: 10rem;
  row-gap: 1.0rem;
  flex-wrap: wrap;
}

.contact-email {
  border: none;
  background-color: rgba(113, 177, 193, 0.65);
  height: 1.5rem;
  border-radius: 3px;
  width: 300px;
}

.contact-message {
  border: none;
  background-color: rgba(113, 177, 193, 0.65);
  border-radius: 3px;
  width: 300px;
}

.contact-submit {
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid rgba(113, 177, 193, 0.65);
  border-radius: 5px;
  cursor: pointer;
}
.contact-submit:hover {
  border: 2px dotted rgba(113, 177, 193, 0.65);
}

textarea:focus, input:focus{
  outline: none;
}

img {
  max-width: 2.0rem;
  opacity: 0.65;
  padding-right: 25px;
}

.plain-link {
  background: none;
}